

@main("Wrappers"){

  <ol class="breadcrumb">
    <li><a href="@routes.Application.index()">Home</a></li>
    <li class="active">Wrapper Examples</li>
  </ol>

  <div class="jumbotron">
    <h1>Template Example</h1>
    <p>This page contains template examples. Look at the back end code to figure out how it works!
    </p>
  </div>

  <ul>
      <li>
          <a href ="@routes.WrapperController.displayPage1">PAGE 1</a>
      </li>
      <li>
          <a href ="@routes.WrapperController.displayPage2">PAGE 2</a>
      </li>
      <li>
          <a href ="@routes.WrapperController.displayPage3">PAGE 3</a>
      </li>

  </ul>


}