@(myForm: Form[models.dto.TestForm])(implicit messages: Messages)

@main("form") {

<!--The helper form creates a form and points it to the submit method in the formcontroller which handles the input-->
@helper.form(action = routes.FormsController.submit()) {


    @helper.inputText(
    myForm("textInput"),
    '_label -> "Text"
    )

    @helper.inputText(
    myForm("option text"),
    '_label -> "Optional Text"
    )

    <button class="btn btn-primary" type="submit">Submit</button>




}





}