@(contents: List[String])(implicit request: Request[AnyContent])

@main("Barneys Scala PlayFramework Wiki") {

<ul>

        <h1>Welcome @request.session.get("username").fold("")(n => n)!</h1>

    <li class="pull-right btn" >
        <a href="@routes.loginController.logout">Log Out</a>
    </li>
</ul>


    <div class="jumbotron">
        <h1>@request.session.get("username").fold("")(n => n)'s PlayFramework Examples</h1>
    </div>

    <br>

    <div class="list-group">

        <ul class="list-group">
            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.Templates.templates()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(0)</strong></h3>
                        <p class="list-group-item-text">Renders a template using Plays Features and Dynamic content using the @@</p>
                    </a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.FormsController.viewForm()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(1)</strong></h3>
                        <p class="list-group-item-text">A collection of all types of lists. Useful examples</p>
                    </a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.Json.index()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(2)</strong></h3>
                        <p class="list-group-item-text">Introduction to Json parsing. Using Play's Json objects and conversions</p>
                    </a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.ListController.index()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(3)</strong></h3>
                        <p class="list-group-item-text">Introduction to Json parsing. Using Play's Json objects and conversions</p>
                    </a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.WrapperController.index()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(4)</strong></h3>
                        <p class="list-group-item-text">An example of Template Wrapper. Can be used for a
                            failure page with numerous failure pages. All similar but with different content</p>
                    </a>
                </div>
            </li>

            <li class="list-group-item">
                <div class="list-group">
                    <a href ="@routes.WrapperController.index()">
                        <h3 style="color:green;" class="list-group-item-heading"><strong>@contents(5)</strong></h3>
                        <p class="list-group-item-text">An example of Template Wrapper. Can be used for a
                            failure page with numerous failure pages. All similar but with different content</p>
                    </a>
                </div>
            </li>

        </ul>

    </div>

}
