@*********************
* Example of comments *
*********************@
@(fellRunners: List[FellRunner])(implicit request: Request[AnyContent])

@main("Template Example") {

    <ol class="breadcrumb">
        <li><a href="@routes.Application.index()">Home</a></li>
        <li class="active">Template Examples</li>
    </ol>

    <div class="jumbotron">
        <h1>Template Example</h1>
        <p>This page contains template examples. Look at the back end code to figure out how it works!
        </p>
    </div>

    <h1> Welcome @request.session.get("username").fold("")(n => n)</h1>
            <!-- Above line: gets the session username from the implicit request passed in,
                 .fold on fail returns an empty string and if successful does n => n
             -->

        <pre>
            <p>This block dynamically uses a for loop to print Famous fell runners</p>
            @for(fellRunner <- fellRunners){
            @fellRunner.name
            }
            <p>The code is as follows:</p>
            @@for(fellRunner <- fellRunners){
            @@fellRunner.name
            }
        </pre>

        <pre>
            <h2>If statements in the template </h2>
            Printing the amount of runners in the list
            @if(fellRunners.isEmpty) {
             <p>Nothing to display</p>
            } else {
            <h3>@fellRunners.size runners!</h3>
            }

            Code is as follows:

            <p>@@if(fellRunners.isEmpty) {
             Nothing to display
            } else {
            @@fellRunners.size runners!
            }
            </p>
        </pre>


    <p><pre>
    <h4>Template parameters</h4>
    A template is like a function, so it needs parameters, which must be declared at the top of the template file:

    @@(customer: Customer, orders: List[Order])
    You can also use default values for parameters:

    @@(title: String = "Home")
    Or even several parameter groups:

    @@(title: String)(body: Html)
    </pre></p>


}